/* The CSS3 stylesheet for our login and registration system. */

* {
  	box-sizing: border-box;
  	font-family: BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
}

body {
    
  	background-image: url(/static/forest.jpg);
    margin: auto;
}

.login, .register {
  	width: 400px;
  	background-color: rgba(96, 109, 101, 0.795);
  	box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.3);
  	margin: 350px auto;
    border-radius: 10px;
}

.login h1, .register h1 {
  	text-align: center;
  	color: #ffffff;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}

.login .links, .register .links {
  	display: flex;
  	padding: 0 15px;
}

.login .links a, .register .links a {
  	color: #e7e7e788;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 10px 10px 10px;
  	font-weight: bold;
}

.login .links a:hover, .register .links a:hover {
  	color: #e1e2e4;
}

.login .links a.active, .register .links a.active {
  	border-bottom: 3px solid #ffffffbb;
  	color: #ffffff;
}

.login form, .register form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}

.login form label, .register form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #75ac78d2;
  	color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;  
}

.login form input[type="submit"], .register form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
  	background-color: #75ac78d2;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}

.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  	background-color: #4a8b4ecb;
  	transition: background-color 0.2s;
}
