<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>{{ gettext('Login') }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</head>
	<body class="background-forest">
		
		<!-- store session['language'] which get from back end (main) -->
		<p style="display: none;" id="ln">{{session['language']}}</p>

		<div class="login">
			<a href="{{ url_for('change_language') }}?ln=en"   class="w3-btn w3-green" style="margin-left: 19px; margin-top: 20px;">English</a>
			<a href="{{ url_for('change_language') }}?ln=fr"   class="w3-btn w3-green" style="margin-left: 2px; margin-top: 20px;">Français</a>
			
			<!-- accessibility feature -->
			<button onclick="startSpeechSynthesis()" class="w3-btn w3-green  fas fa-volume-up" style="float:right;margin-right: 19px; margin-top: 20px;"></button>
			
			<h1>{{ gettext('Login') }}</h1>
			<div class="links">
				<a href="{{ url_for('login') }}" class="active">{{ gettext('Login') }}</a>
				<a href="{{ url_for('register') }}">{{ gettext('Register') }}</a>
			</div>
			<form class="ajax-form" action="{{ url_for('login') }}" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="{{ gettext('Username') }}" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="{{ gettext('Password') }}" id="password" required>
				<label id="rememberme">
					<input type="checkbox" name="rememberme">{{ gettext('Remember me') }}
				</label>
				<a href="{{ url_for('forgotpassword') }}">{{ gettext('Forgot Password?') }}</a>
				<input type="hidden" name="token" value="{{ token }}">
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="{{ gettext('Login') }}">
			</form>
		</div>
	</body>
</html>
